ALLOYNATIVE_PROJECT_ID=mystical-app-490317
ALLOYNATIVE_REGION=us-central1
ALLOYNATIVE_CLUSTER=my-alloydb-cluster
ALLOYNATIVE_INSTANCE=my-primary-inst
ALLOYNATIVE_DATABASE=my_application_db
ALLOYNATIVE_DB_USER=
ALLOYNATIVE_IP_TYPE=PRIVATE
ALLOYNATIVE_HOST=0.0.0.0
PORT=8080
ALLOYNATIVE_DEV_MODE=false
