.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
py/alloynative.egg-info/
py/build/
py/dist/
server/__pycache__/
ts/node_modules/
ts/dist/
ts/src/generated/*.ts
datasets/datasets/
*.log
